@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=IBM+Plex+Sans:wght@300&family=Noto+Sans+TC:wght@100;300&family=Pacifico&display=swap');

nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Dancing Script', 'cursive';
  font-size: 1.5rem;
}

.berita-foto {
  max-width: 200px;
}

.scrollable-list {
  max-height: 150px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.content {
  padding-bottom: 80px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
