@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 a {
  text-decoration: none;
  color: #fff;
  padding-top: 5px;
}

h4 {
  margin: auto;
  padding: 4px;
  /* border: 2px solid rgb(255, 255, 255); */
}

h4 a:hover {
  background-color: 2px rgb(255, 255, 255);
  color: rgb(231, 24, 24);
}

.updateManga {
  position: relative;
  width: 100%;
  border-radius: 50%;
  background: transparent;
  padding: 5px;
}

/* .card-body {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
} */

.lingkaran i {
  position: relative;
  top: 40px;
}
*/ .kontak {
  background: url(https://wallpaperaccess.com/full/1867010.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
}

* {
  font-family: 'Poppins', sans-serif;
}

.imgcarousel {
  height: 280px;
}

body {
  background: hsl(0, 0, 94%);
}
