<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Mangasoul/

  # Aturan pengalihan internal untuk /manga
  RewriteRule ^manga$ view/main\ view/manga/manga.php [L]
  
  # Aturan pengalihan internal untuk /genre
  RewriteRule ^genres$ view/main\ view/genres/genre_search.php [L]
  # Aturan pengalihan internal untuk /genre
  RewriteRule ^menhuas$ page/menhua.php [L]
  # Aturan pengalihan internal untuk /genre
  RewriteRule ^menwas$ page/menwa.php [L]

  # Aturan pengalihan lainnya
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>
